<section class="py-5">
    <div class="border-b border-black border-b-[1px] pb-1">
        <h5 class="font-bold text-base leading-6 tracking-[0.5px]">
            Primary Contact Info
        </h5>
    </div>

    <div class="my-7">
        <div class="flex flex-col gap-7">
            <div class="flex flex-col gap-2.5">

                <div class="grid md:grid-cols-2 gap-2.5">
                    <!-- First Name -->
                    <div>
                        {{ form_widget(form.primaryFirstName, {
                            attr: {
                                placeholder: 'First Name *',
                                class: 'w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                                        placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                                        focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                                        active:border-blue-500 active:ring-2 active:ring-blue-200'
                            }
                        }) }}
                    </div>

                    <!-- Last Name -->
                    <div>
                        {{ form_widget(form.primaryLastName, {
                            attr: {
                                placeholder: 'Last Name *',
                                class: 'w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                                        placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                                        focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                                        active:border-blue-500 active:ring-2 active:ring-blue-200'
                            }
                        }) }}
                    </div>
                </div>

                <!-- Personal Email -->
                <div>
                    {{ form_widget(form.primaryPersonalEmail, {
                        attr: {
                            placeholder: 'Personal Email *',
                            class: 'w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                                    placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                                    focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                                    active:border-blue-500 active:ring-2 active:ring-blue-200'
                        }
                    }) }}
                </div>

                <div class="grid md:grid-cols-2 gap-2.5">
                    <!-- Personal Phone -->
                    <div>
                        {{ form_widget(form.primaryPersonalPhone, {
                            attr: {
                                placeholder: 'Personal Phone *',
                                class: 'w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                                        placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                                        focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                                        active:border-blue-500 active:ring-2 active:ring-blue-200'
                            }
                        }) }}
                    </div>

                    <!-- Phone Type -->
                    <div>
                        {{ form_widget(form.primaryPersonalPhoneType, {
                            attr: {
                                placeholder: 'Personal Phone Type *',
                                class: 'w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                                        placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                                        focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                                        active:border-blue-500 active:ring-2 active:ring-blue-200'
                            }
                        }) }}
                    </div>
                </div>

                <!-- Mailing Address -->
                <div>
                    {{ form_widget(form.primaryPersonalMailingAddress, {
                        attr: {
                            placeholder: 'Mailing Address *',
                            class: 'w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                                    placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                                    focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                                    active:border-blue-500 active:ring-2 active:ring-blue-200'
                        }
                    }) }}
                </div>
                
                <div class="grid grid-cols-4 gap-2.5">

                    <!-- City -->
                    <div class="col-span-4 md:col-span-4 lg:col-span-2">
                        {{ form_widget(form.primaryPersonalMailingCity, {
                            attr: {
                                placeholder: 'City *',
                                class: 'w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                                        placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                                        focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                                        active:border-blue-500 active:ring-2 active:ring-blue-200'
                            }
                        }) }}
                    </div>

                    <!-- State -->
                    <div class="col-span-4 md:col-span-2 lg:col-span-1">
                        {{ form_widget(form.primaryPersonalMailingState, {
                            attr: {
                                placeholder: 'State *',
                                class: 'w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 text-base leading-6 tracking-[0.5px] align-middle text-[#000000DE]
                                        focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                                        active:border-blue-500 active:ring-2 active:ring-blue-200'
                            }
                        }) }}
                    </div>

                    <!-- Zip -->
                    <div class="col-span-4 md:col-span-2 lg:col-span-1">
                        {{ form_widget(form.primaryPersonalMailingZip, {
                            attr: {
                                placeholder: 'Zip *',
                                class: 'w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                                        placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                                        focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                                        active:border-blue-500 active:ring-2 active:ring-blue-200'
                            }
                        }) }}
                    </div>
                </div>

                <!-- Any Notes? -->
                <div>
                    {{ form_widget(form.primaryPersonalNotes, {
                        attr: {
                            placeholder: 'Any Notes? *',
                            class: 'w-full h-[120px] rounded border border-[#0000006B] px-2 py-3 opacity-100 resize-none
                                    placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                                    focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                                    active:border-blue-500 active:ring-2 active:ring-blue-200'
                        }
                    }) }}
                </div>
            </div>
        </div>
    </div>
</section>