<section>

    <div class="flex flex-col gap-2.5">
        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5">
                    {{ form_widget(form.emailMarketing, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.emailMarketing) }}
                    </h5>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5">
                    {{ form_widget(form.textMessageMarketing, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.textMessageMarketing) }}
                    </h5>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5">
                    {{ form_widget(form.digitalPaidAds, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.digitalPaidAds) }}
                    </h5>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5">
                    {{ form_widget(form.photographyServices, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.photographyServices) }}
                    </h5>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5">
                    {{ form_widget(form.customerRelationship, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.customerRelationship) }}
                    </h5>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5">
                    {{ form_widget(form.barterProgram, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.barterProgram) }}
                    </h5>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5">
                    {{ form_widget(form.automatedCallSystem, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.automatedCallSystem) }}
                    </h5>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5">
                    {{ form_widget(form.callRecording, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.callRecording) }}
                    </h5>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5">
                    {{ form_widget(form.socialChatBots, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.socialChatBots) }}
                    </h5>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5">
                    {{ form_widget(form.advancedSeoPackages, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.advancedSeoPackages) }}
                    </h5>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5">
                    {{ form_widget(form.aiInegrations, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.aiInegrations) }}
                    </h5>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5">
                    {{ form_widget(form.multilingualWebsite, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.multilingualWebsite) }}
                    </h5>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5">
                    {{ form_widget(form.hippaComplaint, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.hippaComplaint) }}
                    </h5>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5">
                    {{ form_widget(form.eCommerce, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.eCommerce) }}
                    </h5>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5">
                    {{ form_widget(form.digitalSignage, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.digitalSignage) }}
                    </h5>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

        <details class="group opacity-100 border border-[#2B2B2B] p-[18px]">
            <summary class="flex items-center justify-between cursor-pointer list-none">
                <div class="flex flex-row items-center gap-2.5 w-full">
                    {{ form_widget(form.other, {
                        attr: {
                            class: 'appearance-none w-6 h-6 rounded-full border-[3px] border-[#9E9E9E] flex items-center justify-center relative
                                    checked:border-[#4CAF50] checked:bg-white checked:before:content-["✓"] checked:before:text-[#4CAF50] checked:before:text-base checked:before:font-bold :before:flex checked:before:items-center checked:before:justify-center
                                    focus:ring-2 focus:ring-green-200'
                        }
                    }) }}
                    <h5 class="font-bold text-[16px] leading-6 tracking-[0.5px] text-[#000000DE]">
                        {{ form_label(form.other) }}
                    </h5>

                    <div class="flex-1">
                        {{ form_widget(form.otherServiceInput, {
                            attr: {
                                class: 'w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                                        placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                                        focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                                        active:border-blue-500 active:ring-2 active:ring-blue-200'
                            }
                        }) }}
                    </div>
                </div>

                <span class="shrink-0">
                    <svg class="block group-open:hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48438 9.98438H17.5156L12.5 15L7.48438 9.98438Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                    <svg class="hidden group-open:block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5156 14.0156L7.48438 14.0156L12.5 9L17.5156 14.0156Z" fill="black" fill-opacity="0.54"/>
                    </svg>
                </span>
            </summary>

            <p class="font-normal text-base leading-6 tracking-[0.5px] text-[#2B2B2B] mt-4">
                Lorem ipsum dolor sit amet consectetur. Sagittis at diam mattis viverra neque dui nibh. Morbi mauris faucibus ultrices malesuada urna commodo nam. Facilisis blandit ac egestas nunc amet malesuada massa tristique volutpat. Pellentesque vitae non sed cursus aliquam egestas cras leo felis.
            </p>
        </details>

    </div>

</section>