<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Design Force Marketing{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <script src="{{ asset('build/app.js') }}" defer></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        <!-- Header -->
        {% block header %}
            {% include 'client-portal/partials/header.html.twig' %}
        {% endblock %}

        <main class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8 py-10">
            
            {% block navbar %}
                {% include 'client-portal/partials/navbar.html.twig' %}
            {% endblock %}

            {% block body %}{% endblock %}

        </main>
    </body>
</html>
